@import url('//fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('//fonts.googleapis.com/css?family=Just+Another+Hand');
@import url('//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');
@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-grid.min.css');
@import url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'library.scss';

html,
body {
  @include font-size-map($html-font-size);
}

html,
body,
section {
  color: $color-darker-gray;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  ::selection {
    background: $color-primary;
    color: white;
  }
  ::-moz-selection {
    background: $color-primary;
    color: white;
  }
  button,
  select,
  input[type=text],
  input[type=email],
  input[type=number],
  textarea,
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    outline: none !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
}

h1 { @include font-size-map($h1-font-size); margin: 0; padding: 0; overflow: visible !important; }
h2 { @include font-size-map($h2-font-size); margin: 0; padding: 0; overflow: visible !important; }
h3 { @include font-size-map($h3-font-size); margin: 0; padding: 0; overflow: visible !important; }
h4 { @include font-size-map($h4-font-size); margin: 0; padding: 0; overflow: visible !important; }
h5 { @include font-size-map($h5-font-size); margin: 0; padding: 0; overflow: visible !important; }
h6 { @include font-size-map($h6-font-size); margin: 0; padding: 0; overflow: visible !important; }

a {
  &:link,
  &:hover,
  &:visited,
  &:active {
    color: $color-primary;
    text-decoration: none;
  }
  &:hover {
    color: $color-secondary;
    text-decoration: underline;
  }
}

@media (max-width: $break-sm) {
  br {
    display: none;
  }
}

.reitri {
  width: 100%;
  overflow-x: hidden;

  * {
    box-sizing: border-box;
    z-index: 0;
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    b {
      font-weight: 700 !important;
    }

    u {
      text-decoration: underline !important;
    }

    *::before,
    *::after {
      box-sizing:  border-box;
    }

    &:not(.fa) {
      font-family: $font-quicksand;
      font-weight: 400;

      b {
        font-weight: 700;
      }
    }

    &--overflow {
      overflow: visible !important;
    }

    .fa {
      font-size: 1em;
      line-height: 0.75em;
    }
  }
}
