$font-quicksand: 'Quicksand', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$font-another-hand: 'Just Another Hand', cursive;
$font-roboslab: 'Roboto Slab', serif;
$font-robo-mono: 'Roboto Mono', monospace;

$color-primary: #291e64;
$color-secondary: #5f298c;
$color-accent: #ded5ff;
$color-hint: #d6cbff;
$color-success: #3ba83e;
$color-info: #20b0ff;
$color-warning: #ffcf51;
$color-danger: #ff3f43;
$color-darkest-gray: #222222;
$color-darker-gray: #333333;
$color-dark-gray: #555555;
$color-gray: #AAAAAA;
$color-light-gray: #CCCCCC;
$color-lighter-gray: #EEEEEE;
$color-lightest-gray: #FCFCFC;

$all-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  hd: 4096px
) !default;

$html-font-size: (
  null: 14px,
  map-get($all-breakpoints, 'hd'): 16px,
  map-get($all-breakpoints, 'xl'): 15px,
  map-get($all-breakpoints, 'lg'): 14px,
  map-get($all-breakpoints, 'md'): 14px,
  map-get($all-breakpoints, 'sm'): 15px);

$h1-font-size: (
  null: 4em,
  map-get($all-breakpoints, 'hd'): 4.25em,
  map-get($all-breakpoints, 'xl'): 4.25em,
  map-get($all-breakpoints, 'lg'): 4em,
  map-get($all-breakpoints, 'md'): 3.75em,
  map-get($all-breakpoints, 'sm'): 3.5em);

$h2-font-size: (
  null: 3em,
  map-get($all-breakpoints, 'hd'): 3.25em,
  map-get($all-breakpoints, 'xl'): 3.25em,
  map-get($all-breakpoints, 'lg'): 3em,
  map-get($all-breakpoints, 'md'): 2.75em,
  map-get($all-breakpoints, 'sm'): 2.5em);

$h3-font-size: (
  null: 2em,
  map-get($all-breakpoints, 'hd'): 2.25em,
  map-get($all-breakpoints, 'xl'): 2.25em,
  map-get($all-breakpoints, 'lg'): 2em,
  map-get($all-breakpoints, 'md'): 1.75em,
  map-get($all-breakpoints, 'sm'): 1.5em);

$h4-font-size: (
  null: 1em,
  map-get($all-breakpoints, 'hd'): 1.25em,
  map-get($all-breakpoints, 'xl'): 1.25em,
  map-get($all-breakpoints, 'lg'): 1em,
  map-get($all-breakpoints, 'md'): 1em,
  map-get($all-breakpoints, 'sm'): 1em);

$h5-font-size: (
  null: 0.83em,
  map-get($all-breakpoints, 'hd'): 0.95em,
  map-get($all-breakpoints, 'xl'): 0.95em,
  map-get($all-breakpoints, 'lg'): 0.83em,
  map-get($all-breakpoints, 'md'): 0.83em,
  map-get($all-breakpoints, 'sm'): 0.83em);

$h6-font-size: (
  null: 0.75em,
  map-get($all-breakpoints, 'hd'): 0.83em,
  map-get($all-breakpoints, 'xl'): 0.83em,
  map-get($all-breakpoints, 'lg'): 0.75em,
  map-get($all-breakpoints, 'md'): 0.75em,
  map-get($all-breakpoints, 'sm'): 0.75em);
